/* ====================
    html reset
===================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
}
/* ====================
    common
===================== */
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fluid-img {
  max-width: 100%;
}
.label {
  font-size: 12px;
  color: white;
  padding: 3px 10px;
}
.discount {
  background-color: red;
}
.speciality {
  background-color: green;
}
/* ====================
    typography
===================== */
body {
  font-family: 'roboto', sans-serif;
}
h6 {
  font-weight: lighter;
}
/* ====================
     header
===================== */
header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100; /* l'header rimane sempre visibile nella viewport*/
  background-color: #ff6900;
  color: white;
  padding: 15px 0;
  box-shadow: 0 2px 2px grey;
}
.header-portal,
.header-icons {
  width: calc(85% / 2);
}

header .logo-container {
  width: 15%;
}
.header-portal {
  font-weight: bold;
}
.header-portal > * {
  margin-inline-end: 5px;
}
.header-icons {
  text-align: right;
}
.header-icons > * {
  margin-inline-start: 5px;
}

/* ====================
        main
===================== */
main.container {
  margin: 60px auto;
}
main ul.flex-box {
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 -10px;
  /* -10px così allineo l'inizio e la
   fine dei flex-items
    con la width del container */
}
main ul.product-list li {
  margin: 0 10px;
  width: calc(100% / 3 - 20px);
}

/* ====================
   article della main
===================== */
.product-photo img:last-of-type {
  display: none;
}
.product-photo:hover img:first-of-type {
  display: none;
}
.product-photo:hover img:last-of-type {
  display: block;
}

.product-info span {
  font-size: 14px;
}
.product-info span:first-of-type {
  color: red;
  font-weight: bold;
}
.product-info span:nth-of-type(2) {
  text-decoration: line-through;
}
/* etichette della foto prodotto  */
.product-photo {
  position: relative;
}
.heart {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 35px;
  background-color: white;
  padding: 10px 20px;
}
.heart:hover {
  color: red;
}

.labels {
  position: absolute;
  left: 0;
  bottom: 50px;
}

/* ====================
       footer
===================== */
footer {
  background-color: black;
  color: white;
  padding: 30px 0;
}
/* footer left content */
.footer-left-content,
.footer-right-content {
  width: 50%;
}
.footer-left-content li {
  display: inline-block;
  margin-inline-end: 10px;
}
.footer-left-content li:hover {
  text-decoration: underline;
}
.footer-left-content > span {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-left-content > span,
.footer-right-content {
  /*nome ditta + social medias*/
  font-size: 20px;
  font-weight: bold;
}

/* footer right content */

.footer-right-content {
  text-align: right;
}
.footer-right-content > ul {
  margin-top: 20px;
}
.footer-right-content > ul li {
  display: inline-block;
}

.footer-right-content i {
  margin-inline-start: 10px;
}
.footer-right-content i:hover {
  color: #ff6900;
}
